@import "includes/var";
@import "includes/mixins";
@import "includes/ring";

body {
	overflow-x: hidden;
	font-family: $title-font;
}
.pace {
  	-webkit-pointer-events: none;
  	pointer-events: none;

  	-webkit-user-select: none;
  	-moz-user-select: none;
  	user-select: none;

  	left: 50%;
}

.btn {
	background: $primary-color;

	&:hover, &:active, &:focus {
	background: $primary-color - 10;

	}
}

.pace-inactive {
  	display: none;
}

li {
	list-style-type: none;
}
.pace .pace-progress {
  	background: $primary-color;
  	position: fixed;
  	z-index: 999999;
  	top: 0;
  	width: 100%;
  	right: 100%;
  	height: 2px;
}



.search-div {
	.search {
		display: none;
		height: 0;

		.probox {
			height: 50px !important;
			background: $primary-color !important;

			input {
				height: 50px !important;
				color: #fff !important;
			}
		}

		@include tab {
			display: block;			
		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    height: 10vh;
		    transform: translateX(-100%);
		    @include vendor(transition, all 0.2s linear);

		    &.show {
		    	transform: translateX(0);
		    }

			.menu-item-32 {
				display: none !important;
			}

			.probox {
				height: 10vh !important;
				margin: 0 !important;

				.proinput {
				margin: 0 !important;
					
				}

				input {
					height: 10vh !important;
					font-size: 4vw !important;					
				    background: #fff !important;
				    color: #000 !important;
				    font-size: 4vw;
				    text-indent: 8.333%;
				}
			}
		}

		@include tab-landscape {
			.probox {
				input {
					font-size: 3vw !important;
				}
			}
		}
	}
}


.page-header {
	background: $primary-color;
	height: 15vh;

	
	.logo-div {
		float: left;

		img {
			width: 20vh;

			@include tab {
				width: 13vh;
			}
		}
	}
	.nav-toggle {
		position: absolute;
		background: #fff;
		display: none;    
		right: 8.333%;
    	padding: 4vw;
    	z-index: 9999;

    	i {
    		color: $primary-color;
    	}
	}
	@include tab {
		height: 10vh;
		position: fixed;
		width: 100vw;
		z-index: 99;

		.nav-toggle {
			display: block;
		}
	}

	@include tab-landscape {
		.nav-toggle {
    		padding: 1vw 2vw;
		}
		.nav-header {
			li a {
				font-size: 3vw !important;
			}
		}
	}

	@include mobile {
		.nav-toggle {
			i {
				font-size: 1em;
			}
		}

	}

	.nav-header {
		ul.menu {
			float: right;
			li {
				display: inline-block;

				a {
					display: block;
					padding: 10px 15px;
					color: #fff;
					background: $primary-color;
					font-size: 16px;

					&:hover {
						color: $primary-color;
						background: #fff;
					}
				}

			}

			@include tab {

			    position: absolute;
			    left: 0;
			    background: $primary-color;
			    width: 100%;
			    padding-top: 3vh;
			    top: 10vh;
			    height: 100vh;
			    z-index: 999;
			    margin-top: -1px;
			    transform: translateX(-100%);
			    @include vendor(transition, transform 0.2s linear);


				li {
					display: block;

					a {
						padding-left: 10vw;
						font-size: 4vw;
					}
				}

				&.show {
			    	transform: translateX(0);

				}

			}
		}

	}

	.wrap {
		width: 80%;
		margin: 0 auto;
		padding-top: 1%;
	}

	.search-div {
		width: 32%;
		float: right;
	}

	.menu-menu-1-container {
		display: block;
		width: 50vw;
		float: right;
	}
	.promagnifier, .prosettings {
		display: none;
	}
}

section.banner {
	.wrap {
		width: 86%;
		margin: 0 auto;
	}
}

img {
	max-width: 100%;
}




.page {
	background: #eee;
	padding: 50px 0;
	.wrap {
		width: 86%;
		margin: auto;
	}

	.side-navs {
		.collection {
			border: none;

			a {
				font-size: 16px;
				color: #5a5a5a;

				&:hover {
					color: $primary-color;
				}
			}
		}
		.card-title {
		    width: 100%;
		    display: block;
		    border-bottom: 1px solid #ccc;
		}
	}
	.posts {
		.card {
			padding: 0;
			// padding-top: 10px;
				span.card-title {
					width: 100%;					
				    display: block;
				    padding: 25px;
				    font-size: 32px;

				    a {
				    	color: #5a5a5a;
				    }
				}
			.card-content {
				.img-wrap {
					width: 25%;
					float: left;

					img {
						width: 100%;
					}
				}
				p {
					padding-left: 20px;
					width: 60%;
					float: left;
					@include line-clamp(24px, 6);
					font-size: 17px;
				}
				a {
					float: right;
					padding-bottom: 10px;
					color: $primary-color !important;
					margin-top: -40px;
				}
			}
		}
	}	

	@include tab {
		padding-top: 15vh;	
	}



	@include mobile {

		.wrap {
			width: 96%;
		}

		.posts {
			.card-title {
				padding-bottom: 0 !important;
			}
			.card-content {
				.img-wrap {
					width: 100% !important;
				}
				p {
					width: 100% !important;
				}
				a {
					margin-top: 0 !important;
					padding-bottom: 15px !important;
				}
			}

		}
	}
}

.inside-page {
	.item-details {
		background: #fff;
		padding: 20px 40px;

		h4 {
			margin-bottom: 50px;
			color: $primary-color;
		}

		p {
			font-size: 18px;
			line-height: 30px;
			letter-spacing: 1.3px;
		}

		.img-wrap {			
		    float: left;
		    margin-right: 75px;

		}
	}

	// pre {
	// 	background: #5a5a5a;
	// 	color: #fff;
	// 	padding: 15px;
	// }

	

	.related {
		margin: 0;
		li {
			padding: 0 15px;

			.card-content{
				.card-title {
					font-size: 22px;
					color: #5a5a5a;
				}
			} 

		}
	}

	.section-title {
		padding: 25px 0 20px;

	}

	@include mobile {
		.item-details {
			padding: 15px;

			h4 {
				margin-bottom: 15px;
			}
			.img-wrap {
				width: 100%;
				margin-right: 0;
			}
		}
	}
}

.page-footer {
	text-align: center;
	background-color: $primary-color !important;

	.row {
		margin-bottom: 0;
	}

	p {
		color: #fff;
		font-size: 17px;
	}
}

.ffwd_view_on_0 {
	display: none;
}

.card {
	margin-top: 0;
	margin-bottom: 2rem;
}