@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/NexaLight.eot");
  src: url("../fonts/NexaLight.woff2") format("woff2"), url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.ttf") format("truetype"), url("../fonts/NexaLight.svg#NexaLight") format("svg"), url("../fonts/NexaLight.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.woff2") format("woff2"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.svg#NexaBold") format("svg"), url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 92, ../sass/includes/_mixins.scss */
div.container, section.container {
  width: 86%;
  margin: 25px auto;
}

/* line 96, ../sass/includes/_mixins.scss */
section.wide {
  width: 100vw !important;
  margin: 25px 0;
}

/* line 100, ../sass/includes/_mixins.scss */
.center {
  text-align: center;
}

/* line 103, ../sass/includes/_mixins.scss */
.v-container {
  display: table;
}

/* line 106, ../sass/includes/_mixins.scss */
.v-container .vac {
  display: table-cell;
  vertical-align: middle;
}

/* line 111, ../sass/includes/_mixins.scss */
li {
  list-style: none;
}

/* line 113, ../sass/includes/_mixins.scss */
ul.inline li {
  display: inline-block;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 5, ../sass/style.scss */
body {
  overflow-x: hidden;
  font-family: "roboto slab", sans-serif;
}

/* line 9, ../sass/style.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  left: 50%;
}

/* line 20, ../sass/style.scss */
.pace-inactive {
  display: none;
}

/* line 24, ../sass/style.scss */
li {
  list-style-type: none;
}

/* line 27, ../sass/style.scss */
.pace .pace-progress {
  background: #ff5555;
  position: fixed;
  z-index: 999999;
  top: 0;
  width: 100%;
  right: 100%;
  height: 2px;
}

/* line 37, ../sass/style.scss */
.page {
  background: #eee;
}

/* line 43, ../sass/style.scss */
.page-header {
  background: #ff5555;
  height: 32vh;
}
/* line 47, ../sass/style.scss */
.page-header .logo-div {
  float: left;
}
/* line 50, ../sass/style.scss */
.page-header .logo-div img {
  width: 20vh;
}
/* line 54, ../sass/style.scss */
.page-header .logo-div .nav-toggle {
  display: none;
}
/* line 59, ../sass/style.scss */
.page-header .nav-header ul.menu {
  float: right;
}
/* line 61, ../sass/style.scss */
.page-header .nav-header ul.menu li {
  display: inline-block;
}
/* line 64, ../sass/style.scss */
.page-header .nav-header ul.menu li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  background: #ff5555;
}
/* line 70, ../sass/style.scss */
.page-header .nav-header ul.menu li a:hover {
  color: #ff5555;
  background: #fff;
}
/* line 80, ../sass/style.scss */
.page-header .wrap {
  width: 80%;
  margin: 0 auto;
  padding-top: 3%;
}
/* line 86, ../sass/style.scss */
.page-header .search-div {
  width: 32%;
  float: right;
}
/* line 91, ../sass/style.scss */
.page-header .menu-menu-1-container {
  display: block;
  width: 50vw;
  float: right;
}

/* line 99, ../sass/style.scss */
section.banner .wrap {
  width: 86%;
  margin: 0 auto;
}

/* line 108, ../sass/style.scss */
.page {
  padding: 50px 0;
}
/* line 110, ../sass/style.scss */
.page .wrap {
  width: 86%;
  margin: auto;
}
/* line 116, ../sass/style.scss */
.page .side-navs .collection {
  border: none;
}
/* line 119, ../sass/style.scss */
.page .side-navs .collection a {
  font-size: 16px;
  color: #5a5a5a;
}
/* line 123, ../sass/style.scss */
.page .side-navs .collection a:hover {
  color: #ff5555;
}
/* line 130, ../sass/style.scss */
.page .posts .card {
  padding: 0;
}
/* line 133, ../sass/style.scss */
.page .posts .card span.card-title {
  width: 100%;
  display: block;
  padding: 25px;
  font-size: 32px;
}
/* line 139, ../sass/style.scss */
.page .posts .card span.card-title a {
  color: #5a5a5a;
}
/* line 144, ../sass/style.scss */
.page .posts .card .card-content .img-wrap {
  width: 25%;
  float: left;
}
/* line 148, ../sass/style.scss */
.page .posts .card .card-content .img-wrap img {
  width: 100%;
}
/* line 152, ../sass/style.scss */
.page .posts .card .card-content p {
  padding-left: 20px;
  width: 60%;
  float: left;
  overflow: hidden;
  line-height: 24px;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 144px;
  /* fallback */
  -webkit-line-clamp: 6;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 17px;
}
/* line 159, ../sass/style.scss */
.page .posts .card .card-content a {
  float: right;
  padding-bottom: 10px;
  color: #ff5555 !important;
  margin-top: -40px;
}

/* line 171, ../sass/style.scss */
.inside-page .item-details {
  margin-top: -80px;
  background: #fff;
  padding: 20px 40px;
}
/* line 176, ../sass/style.scss */
.inside-page .item-details h4 {
  margin-bottom: 50px;
  color: #ff5555;
}
/* line 181, ../sass/style.scss */
.inside-page .item-details p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.3px;
}
/* line 187, ../sass/style.scss */
.inside-page .item-details .img-wrap {
  float: left;
  margin-right: 75px;
}
/* line 197, ../sass/style.scss */
.inside-page .more-post ul.posts li {
  padding: 0 15px;
}
/* line 200, ../sass/style.scss */
.inside-page .more-post ul.posts li .card-content {
  padding-top: 0;
}
/* line 202, ../sass/style.scss */
.inside-page .more-post ul.posts li .card-content p {
  width: 100%;
  overflow: hidden;
  line-height: 24px;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 96px;
  /* fallback */
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
/* line 207, ../sass/style.scss */
.inside-page .more-post ul.posts li .card-content a {
  margin-top: -13px;
}
/* line 218, ../sass/style.scss */
.inside-page .section-title {
  padding: 50px 0;
}

/* line 225, ../sass/style.scss */
.page-footer {
  text-align: center;
  background-color: #ff5555 !important;
}
/* line 229, ../sass/style.scss */
.page-footer .row {
  margin-bottom: 0;
}
/* line 233, ../sass/style.scss */
.page-footer p {
  color: #fff;
  font-size: 17px;
}
